In [ ]:
import pandas as pd

In [4]:
df=pd.read_csv('HRDataset_v14.csv')

In [5]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,Gender,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,Female,1.0,5.0,4.0,0.0,62506.0,...,3,80,0,8,0,1,6,4,0,5
1,"Ait Sidi, Karthikeyan",10084.0,1.0,1.0,Male,5.0,3.0,3.0,0.0,104437.0,...,4,80,1,10,3,3,10,7,1,7
2,"Akinkuolie, Sarah",10196.0,1.0,1.0,Male,5.0,5.0,3.0,0.0,64955.0,...,3,80,0,7,3,3,0,0,0,0
3,"Alagbe,Trina",10088.0,1.0,1.0,Female,1.0,5.0,3.0,0.0,64991.0,...,3,80,0,8,3,3,8,7,3,0
4,"Anderson, Carol",10069.0,0.0,2.0,Male,5.0,5.0,3.0,0.0,50825.0,...,3,80,1,6,3,3,2,2,2,2

Warning: Total number of columns (56) exceeds max_columns (20) limiting to first (20) columns.

In [8]:
df.loc[df['Position']=='Production Technician I'].Position.count()

137

In [9]:
df.loc[df['Gender']=='Male'].Gender.count()

194

In [10]:
df.loc[df['ManagerName']=='Michael Albert'].ManagerName.count()

22

In [20]:
#4
df.loc[(df['EmploymentStatus'])=='Active'].Employee_Name

0      Adinolfi, Wilson  K
3             Alagbe,Trina
5        Anderson, Linda
6          Andreola, Colby
7              Athwal, Sam
              ...
305          Wolk, Hang  T
306         Woodson, Jason
308       Zamora, Jennifer
309            Zhou, Julia
310          Zima, Colleen
Name: Employee_Name, Length: 207, dtype: object

In [28]:
#5
df.loc[(df['EmploymentStatus']=='Active') & (df['MaritalDesc']=='Married')].Employee_Name

3           Alagbe,Trina
16      Beak, Kimberly
22         Billis, Helen
26     Boutwell, Bonalyn
29            Brown, Mia
             ...
271     Sullivan, Kissy
272    Sullivan, Timothy
275         Tannen, Biff
287        Turpin, Jumil
288      Valentin,Jackie
Name: Employee_Name, Length: 77, dtype: object

In [29]:
#6

Series([], Name: Employee_Name, dtype: object)

In [30]:
df.loc[(df['EmploymentStatus'])=='Active'].Salary

0       62506.0
3       64991.0
5       57568.0
6       95660.0
7       59365.0
         ...
305     60446.0
306     65893.0
308    220450.0
309     89292.0
310     45046.0
Name: Salary, Length: 207, dtype: float64

In [34]:
df.loc[(df['EmploymentStatus']=='Active') &(df['Salary']<60000)].Employee_Name

5         Anderson, Linda
7               Athwal, Sam
8          Bachiochi, Linda
9        Bacong, Alejandro
13     Barone, Francesco  A
               ...
278        Terry, Sharlene
281       Tippett, Jeanette
288         Valentin,Jackie
291        Villanueva, Noah
310           Zima, Colleen
Name: Employee_Name, Length: 72, dtype: object

In [37]:
#7
a=df.EngagementSurvey.max()

In [48]:
df.loc[(df['Position']=='Production Technician II') & (df['EngagementSurvey']==a)].Employee_Name

123      Hankard, Earnest
127    Hendrickson, Trina
177     Manchester, Robyn
178        Mancuso, Karen
182       Carthy, B'rigit
206       Oliver, Brooke
304    Winthrop, Jordan
Name: Employee_Name, dtype: object

In [59]:
#8
c=df.Salary.max()

In [60]:
df.loc[df["Salary"]==c].Position

150    President & CEO
Name: Position, dtype: object