In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('Supermarket_sales.csv')

In [6]:
df.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [7]:
df.Unitprice.min()

10.08

In [8]:
df.Unitprice.max()

99.96

In [9]:
a=df.Unitprice.count()

In [10]:
a

1000

In [11]:
b=df.Unitprice.sum()

In [12]:
b

55672.130000000005

In [13]:
avg=b/a

In [14]:
avg

55.67213

In [15]:
df.Unitprice.mean()

55.67213

In [16]:
df.Quantity.min()

1

In [17]:
df.Quantity.max

<bound method NDFrame._add_numeric_operations.<locals>.max of 0       7
1       5
2       7
3       8
4       7
       ..
995     1
996    10
997     1
998     1
999     7
Name: Quantity, Length: 1000, dtype: int64>

In [18]:
df.Quantity.mean()

5.51

In [24]:
df.groupby('Productline').Quantity.max()

Productline
Electronic accessories    10
Fashion accessories       10
Food and beverages        10
Health and beauty         10
Home and lifestyle        10
Sports and travel         10
Name: Quantity, dtype: int64

In [25]:
df.groupby('Productline').Quantity.min()

Productline
Electronic accessories    1
Fashion accessories       1
Food and beverages        1
Health and beauty         1
Home and lifestyle        1
Sports and travel         1
Name: Quantity, dtype: int64

In [29]:
df.groupby('Productline').Quantity.mean()

Productline
Electronic accessories    5.711765
Fashion accessories       5.067416
Food and beverages        5.471264
Health and beauty         5.618421
Home and lifestyle        5.693750
Sports and travel         5.542169
Name: Quantity, dtype: float64

In [28]:
df.groupby('Productline').Unitprice.max()

Productline
Electronic accessories    99.73
Fashion accessories       99.89
Food and beverages        99.79
Health and beauty         99.96
Home and lifestyle        99.92
Sports and travel         99.96
Name: Unitprice, dtype: float64

In [30]:
df.groupby('Productline').Unitprice.min()

Productline
Electronic accessories    10.56
Fashion accessories       10.18
Food and beverages        10.13
Health and beauty         10.08
Home and lifestyle        10.53
Sports and travel         10.17
Name: Unitprice, dtype: float64

In [32]:
df.groupby('Productline').Unitprice.mean()

Productline
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unitprice, dtype: float64

In [33]:
df.loc[df['Productline']=='Health and beauty']

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
8,9,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
14,15,829-34-3910,A,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,19:21,Cash,713.80,4.761905,35.6900,5.7
16,17,656-95-9349,A,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,11:03,Credit card,482.51,4.761905,24.1255,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,984,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.9860,734.7060,1/23/2019,10:33,Cash,699.72,4.761905,34.9860,6.1
986,987,764-44-8999,B,Mandalay,Normal,Female,Health and beauty,14.76,2,1.4760,30.9960,2/18/2019,14:42,Ewallet,29.52,4.761905,1.4760,4.3
987,988,552-44-5977,B,Mandalay,Member,Male,Health and beauty,62.00,8,24.8000,520.8000,1/3/2019,19:08,Credit card,496.00,4.761905,24.8000,6.2
989,990,430-53-4718,B,Mandalay,Member,Male,Health and beauty,75.37,8,30.1480,633.1080,1/28/2019,15:46,Credit card,602.96,4.761905,30.1480,8.4
995,996,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2

In [34]:
df.loc[df['Productline']=='Health and beauty'].Quantity.min()

1

In [36]:
df.loc[df['Productline']=='Health and beauty'].Quantity.mean()

5.618421052631579

In [35]:
df.loc[df['Productline']=='Health and beauty'].Quantity.max()

10

In [37]:
df.loc[df['Productline']=='Electronic accessories']

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
5,6,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,7,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
11,12,529-56-3974,B,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,17:03,Cash,102.04,4.761905,5.1020,6.8
12,13,365-64-0515,A,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,10:25,Ewallet,234.75,4.761905,11.7375,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,979,156-20-0370,B,Mandalay,Normal,Female,Electronic accessories,25.45,1,1.2725,26.7225,3/10/2019,18:10,Credit card,25.45,4.761905,1.2725,5.1
984,985,189-40-5216,C,Naypyitaw,Normal,Male,Electronic accessories,96.37,7,33.7295,708.3195,1/9/2019,11:40,Cash,674.59,4.761905,33.7295,6.0
988,989,267-62-7380,C,Naypyitaw,Member,Male,Electronic accessories,82.34,10,41.1700,864.5700,3/29/2019,19:12,Ewallet,823.40,4.761905,41.1700,4.3
992,993,745-74-0715,A,Yangon,Normal,Male,Electronic accessories,58.03,2,5.8030,121.8630,3/10/2019,20:46,Ewallet,116.06,4.761905,5.8030,8.8
994,995,652-49-6720,C,Naypyitaw,Member,Female,Electronic accessories,60.95,1,3.0475,63.9975,2/18/2019,11:40,Ewallet,60.95,4.761905,3.0475,5.9

In [38]:
df.loc[df['Productline']=='Electronic accessories'].Quantity.min()

1

In [39]:
df.loc[df['Productline']=='Electronic accessories'].Quantity.max()

10

In [40]:
df.loc[df['Productline']=='Electronic accessories'].Quantity.mean()

5.711764705882353

In [41]:
df.loc[df['Productline']=='Health and beauty'].Unitprice.min()

10.08

In [42]:
df.loc[df['Productline']=='Health and beauty'].Unitprice.max()

99.96

In [43]:
df.loc[df['Productline']=='Health and beauty'].Unitprice.mean()

54.85447368421053

In [44]:
df.loc[df['Productline']=='Health and beauty'].gross_iincome.max()

45.25

In [46]:
df.loc[df['Productline']=='Health and beauty'].gross_iincome.min()

0.8875

In [48]:
df.loc[df['Productline']=='Health and beauty'].Gender.count()

152

In [67]:
df.loc[(df['Productline']=='Health and beauty') & (df['Gender']=='Male')].Quantity.count()

88

In [68]:
df.loc[(df['Productline']=='Electronic and accessories') & (df['Gender']=='Female')].Quantity.count()

0

In [ ]:
1